@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 75px;
}

.navbar .menu {
    margin-left: 20%;
}

.navbar .menu ul li {
    display: inline;
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: black;
}

/* navbar habis */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.main .tulisan {
    margin-left: 50px;
    padding-top: 25%;
}

.tulisan h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

.tulisan p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}

.tulisan button {
    background-color: #FB9100;
    color: white;
    padding: 30px 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    margin-top: 18px;
}

.tulisan button:hover {
    background-color: black;
}

.main .tulisan img {
    margin-top: 50%;
}

.main .gambar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 70px;
}

/* akhir main */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.about .gambar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 70px;
    margin-left: 20px;
}

.about .tulisan {
    margin-right: 40px;
    padding-top: 50%;
}

/* akhir about */

.make {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 37px;
}

.make .tulisan {
    margin-left: 50px;
    margin-top: 50%;
}

.make .gambar {
    display: contents;
    position: relative;
}   

.make .gambar .dot1 {
    margin-top: 125px;
    margin-left: 230px;
}

.make .gambar .dot2 {
    margin-top: 10px;
    margin-right: 320px;
}

.make .gambar .eskrim {
    display: grid;
    position: absolute;
    margin-left: 750px;
}